name: Build PCBDOG Final

on:
  workflow_dispatch:
  push:

permissions:
  contents: read

jobs:
  build:
    name: Build Firmware
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:release-v5.3
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build
        shell: bash
        run: |
          source $IDF_PATH/export.sh
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          # 强制指定你的板子型号
          python scripts/release.py zhengchen-1.54tft-wifi

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: firmware-pcbdog-dark
          path: build/merged-binary.bin
